body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
}


.left{
    flex-direction: column;
    width: 25vw;
    height: 100vh;
}

.right{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.home{
    width: 100%;
    margin: 10px;
    height: max-content;
}
.logo img{
    position: absolute;
    left: 10px;
    margin-left: 10px;
    width: 150px;
    height: 50px;
}
.home ul li{
    display: flex;
    list-style: none;
    width: 50px;
    padding: 10px;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}
.library{
    width: 100%;
    margin: 10px;
    height: max-content;
    min-height: 69vh ;
    position: relative;
}
.library *{
    margin: 10px;
}
.library .head{
    margin-left: 20px;
    width: 30px;
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
}


.library footer {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-evenly;
}
.foot{
    display: flex;
    align-items: center;
    margin: 0;
}

footer div a{
    display: flex;
    color: white;
    font-size: x-small;
    text-decoration: none;
    color: grey;
    text-align: center;
    justify-content: center;
}
footer div a:hover{
    color: white;
}
.right{
    display: flex;
    flex-direction: column;
}
.header{
    width: 98%;
    margin: 15px;
    height: max-content;
}
.header header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.playlists{
    position: relative;
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
    height: 70vh;
}
.playlists h2{
    font-size: 30px;
    padding: 20px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    max-height: 60vh; 
}
.card{
    background-color: rgb(54, 53, 53);
    width: 250px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    /* padding: 10px; */
    cursor: pointer;
    object-fit: contain ;
}
.card *{
    margin: 5px;
}
.playbackContainer{
    left: 55px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 90%;
    height: 10vh;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
}
.songButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.loginBT{
    padding:10px 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 100px;
    cursor: pointer;
}
.signupBT{
    padding:10px 20px;
    background-color: rgba(255, 254, 254, 0);
    color: rgb(113, 108, 108);
    border-radius: 30px;
    border: none;
    width: 100px;
    cursor: pointer;
}   
.loginBT:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.songList ul li{
    display: flex;
    list-style: none;
    width: 90%;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
}

.songList ul li:first-child img{
    width: 27px;
    border-radius: 10px;
    margin:0 8px;
}

.songList{
    width: 100%;
    margin: 10px;
    height: 400px;
    overflow: auto;
}
.songList ul{
    padding: 0;
}

.songList ul li:hover{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
}
.songList ul li .songName div{
    margin: 5px;
}
.songList ul li .songName{
    margin: 0;
    gap: 0px;
    width: 150px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.songList ul li .playNow{
    margin: 0;
    padding: 0;
    display: flex;
    width: 110px;
    justify-content: space-between;
    align-items: center;
}