body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
}


.left{
    flex-direction: column;
    width: 25vw;
    height: 100vh;
}

.right{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.home{
    width: 98%;
    height: max-content;
}
.logo img{
    position: absolute;
    left: 10px;
    width: 150px;
    height: 50px;
}

.home ul{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
    left: 10%;
    margin-right: 0;
}

.home ul li{
    display: flex;
    padding: 10px;
    height: 13px;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: fit-content;
    text-align: center;
    text-indent: 20%;
    font-size: 18px;
    cursor: pointer;
    margin-right: 0;
}
.library{
    margin-top: 10px;
    width: 98%;
    height: max-content;
    min-height: 75vh ;
    position: relative;
    margin-right: 0pxf;
}
.library *{
    margin: 10px;
}
.library .head{
    margin-left: 20px;
    width: 30px;
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
}


.library footer {
    margin: 0 !important;
    position: absolute;
    bottom: 2%;
    width: 95%;
    height: 4vh;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-evenly;
}

footer div{
    margin: 5px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30px;
    height: fit-content;
}

footer div a{
    margin: 0 !important;
    display: flex;
    color: white;
    font-size: x-small;
    text-decoration: none;
    color: grey;
    text-align: center;
    justify-content: center;
}
footer div a:hover{
    color: white;
}
.right{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.right *{
    margin: 5px;
}
.header{
    padding-left: 10px;
    min-width: 98%;
    height: max-content;
}
.header header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.playlists{
    position: relative;
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 71vh;
}
.playlists h2{
    font-size: 30px;
    padding: 10px;
}
.cardContainer{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 60vh; 
}
.card{
    background-color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    object-fit: contain ;
    font-size: 11px;
    /* scale: 0.8; */
}
.card img{
    width: 200px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;

}
.card:hover{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
}

.card *{
    margin: 4px;
}
.playbackContainer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 98%;
    height: 13vh;
    background-color: rgb(27, 27, 27);
}
.songinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: relative;
}
#songTitle{
    position: absolute;
    left: 5%;
}
#VolumeButton{
    position: absolute;
    right: 5%;
}
#VolumeButton #volume:hover{
    background-color: rgb(114, 226, 54);
    border-radius: 10px;
    height: 4px;
}
.songinfo img{
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.seekbar{
    width: 60%;
    height: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}
.songButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
#VolumeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 2px;
    width: 10vw;
    margin: 4px;
    padding: 10px;
}
#volume{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* cursor: pointer; */
    height: 2px;
    min-width: 40px;
    width: 7vw;
    background-color: white;
    position: relative;
}
#volume .volcircle{
    width: 10px;
    position: absolute;
    right: 0%;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.seekbar .circle{
    width: 10px;
    position: absolute;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.loginBT{
    padding:10px 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    /* width: 90px; */
    cursor: pointer;
    
}
.signupBT{
    padding:10px 20px;
    background-color: rgba(255, 254, 254, 0);
    color: rgb(113, 108, 108);
    border-radius: 30px;
    border: none;
    /* width: 90px; */
    cursor: pointer;
}   
.loginBT:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.songList ul li{
    display: flex;
    list-style: none;
    width: 90%;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid white;
    height: 8vh;
}


.songList ul li:first-child img{
    width: 27px;
    border-radius: 10px;
    margin:0 8px;
}
.songList{
    width: 100%;
    margin: 10px;
    height: 400px;
    overflow: auto;
}
.songList ul{
    padding: 0;
}

.songList ul li:hover{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
}
.songList ul li .songName div{
    height: 5vh;
    margin: 5px;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.songList ul li .songName{
    margin: 0;
    gap: 0px;
    width: 120px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.songList ul li .playNow{
    margin: 0;
    padding: 0;
    display: flex;
    width: 110px;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
}
.left .close{
    position: absolute;
    left:-100%;
    
}
#songprogress{
    width: 97%;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}